<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">API Data Fetcher</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Data Fetcher
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="configurations">
                <span class="bi bi-gear-fill" aria-hidden="true"></span> Configurations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="test-inquire">
                <span class="bi bi-search" aria-hidden="true"></span> Test Inquire API
            </NavLink>
        </div>
    </nav>
</div>